.login-form {
    margin: 0 30%;
    padding: 5%;
}

.content {
    margin: 10px;
}

#subreddit-search {
    margin: 15px 0;
}

.search-result .subreddit-link {
    margin: 3px 0;
}

.friends-list .friend {
    margin: 3px;
}

.friends-list .friend-name {
    margin: 4px 0;
}

input {
    height: 30px;
}