<!DOCTYPE HTML>
<html>
  <head>
    <title>Weekkit</title>
    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/style.css"
          type="text/css" media="screen" />

    <script data-main="/static/app" src="/static/require-jquery.js"></script>

    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <div class="container">
      {% include "navbar.html" %}
      <div class="content">
        {% block content %}
        {% endblock content %}        
      </div>
    </div>
    {% block jstemplates %}
    {% endblock jstemplates %}
  </body>
</html>
